#python stuff
venv/
__pycache__/

#ide stuff
.vscode
.idea
.vs

#django stuff
db.sqlite3
media/

.env

user7
tdnh5m567m

user8
elaena.ga.i.lm.or.e@gmail.com
tdnh5m567m45h4

user13
wi.lliam.fdanie.ll.717@gmail.com
ht4e5h45hee


4:42