
<!-- Footer -->
  <footer id="main-footer" class="text-center text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 footer-logo">
          <a class="navbar-brand" href="{% url 'shop:products' %}">
            <i class="fas fa-shop me-2"></i>SHOP
          </a>
        </div>
        <div class="col-md-4 mb-4 footer-links">
          <ul class="list-unstyled">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      <div class="col-md-4 mb-4 social-icons">
        <h5>Следите за нами</h5>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

  </div>
</footer>

