{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}
<div class="container py-5 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h3 class="card-title text-success">Ваш пароль был успешно сброшен</h3>
                <p class="card-text">
                    Вы можете использовать свой новый пароль для входа в систему.
                </p>
                <a href="{% url 'account:login' %}" class="btn btn-primary mt-3 bg-success">Войти</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}