{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5 d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h3 class="card-title text-success">Успешно!</h3>
                <p class="card-text">
                    Ваш пароль успешно отправлен! Пожалуйста, проверьте свою почту для получения дальнейших инструкций.
                </p>
                <a href="{% url 'shop:products' %}" class="btn btn-primary mt-3">Вернуться на главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}