{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to MyShop</title>
    <link rel="stylesheet" href="{% static 'myproject/css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
  </head>

  <body style="font-family: 'Montserrat', sans-serif;">
    <div id="welcome" class="welcome" >Welcome to MyShop</div>
    <a href="http://127.0.0.1:8000/shop/"><div id="box1" class="box box1">Shop</div></a>
    <div class="box box2">News</div>
    <div class="box box3">Etc</div>
  </body>

<script src="{% static 'myproject/js/box-change.js' %}"></script>

</html>
